<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
		<RollingFile name="PermissionFileLogger"
			fileName="${sys:catalina.home}/logs/permission.log"
			filePattern="/tmp/logs/$${date:yyyy-MM-dd}/permission-%d{MM-dd-yyyy}-%i.log"
			append="true">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
		</RollingFile>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="PermissionFileLogger" />
			<AppenderRef ref="CONSOLE"/>
		</Root>
	</Loggers>
</Configuration>